.small
	markdown:
		## 目次

		1. **研究開発テーマをとりまく状況**
			* 産業界の状況・ニーズ
			* 該当する従来技術とその課題
		2. **提案テーマの基礎となる保有技術**
		  * Elixir と Phoenix
		  * fukuoka.ex と Qiita連載技術記事
		  * 我々の研究開発能力
		3. **研究開発する具体的目標**
		4. **研究開発する技術内容**
		  * 研究構想の全体像と本研究の位置付け
		  * 研究開発内容
		  * 研究開発全体像
		5. **チーム連携**
		6. **事業終了後の計画**
		7. **成果の市場性，波及効果**
		8. **他の公募事業への申請状況**
		9. **経費について**
