.small
	markdown:
		### Apacheなどの現状のウェブサーバーの問題点
		* 現状方式では**セッションごとに数10MB程度のスタックメモリを消費**する
		* → セッション数が極端に多くなると実メモリが不足する
		* **→ 同時セッション最大数が大きく制約され，レイテンシが悪化する**
	img.image400 src="resources/images/Zackernel-1.jpg"
