.small
  markdown:
    ## 研究開発内容

    1. ベンチマークプログラムの開発
    2. デモンストレーションプログラムの開発
    3. 処理系のプロトタイプの開発
      * コード生成系として広く採用されているLLVMを用いてGPUを駆動するコードを生成するプログラムを試作する
      * 合わせてElixirのプログラムコードからLLVMの中間表現にコンパイルする方法を検討する
      * これらは2018年12月からの大川情報通信基金の助成金で研究・開発する処理系のコード生成系の土台となる。