.small
  markdown:
    ## 研究開発内容

    * プログラミング言語処理系・OSの技術を総動員して研究開発にあたる
    * ソフトウェア工学の知見に基づいて保守性高く設計する
    * 研究代表者山崎と，学生チームで研究にあたる (別予算での研究員雇用は成らなかった: 後述)

    1. ベンチマークプログラムの開発
    2. デモンストレーションプログラムの開発
    3. 処理系のプロトタイプの開発