.small
	markdown:
		## 研究開発内容
		1. ベンチマークプログラムの開発
		2. デモンストレーションプログラムの開発
			* 5月に試作した結果，GPUを直接駆動するネイティブコードのみでは性能を発揮するものの，次の問題があることがわかった
				* Elixirからネイティブコードを呼び出す処理で実行時間がかかる問題
				* ElixirのデータからGPU向けに配列を準備する処理で実行時間がかかる問題
				* Elixirの制約からネイティブコードの実行を1ms以内に完了させないと実行速度が悪化する問題
			* これらの課題を解決するために，研究計画段階では次のようなアプローチを検討していた
				* Elixir外部のプロセスにてGPUを駆動し，Elixirのプロセスとメモリを共有して実行する方式
			* 現在は新たな技術の開発により，次のようなアプローチで解決できている
				* 与えられたデータを成形する処理をネイティブコード化する
				* ネイティブコードを呼び出した直後に別スレッドを起動して本体はすぐに終了することで1ms以内に終わらせる
				* 外部のプロセスにする必要はなく，同一プロセスでメモリを共有する複数スレッドで実行する
		3. 処理系のプロトタイプの開発