h3 研究開発テーマをとりまく状況
h2 該当する従来技術とその課題

.small
	markdown:
		* Java, Ruby, Pythonなどは生産性高くウェブアプリケーションを構築できる
		  * **これらはリアルタイム性が極度に求められる環境下に耐えられない**
		* AI/ML分野で用いられる言語は Python，MATLABなどである
		  * Pythonで性能を高めるにはC言語など他言語の力を借りる必要がある
		  * **Pythonの言語そのものを高速化する取り組みは原理的に困難である**
  		  * Pythonで並列処理すると同期通信が多く発生しボトルネックとなる
  		  * この問題は言語モデルに由来するので，原理的に改善できない
		  * **MATLABは産業向けライセンスの価格がとても高額で，容易に導入できない**
		* AI/MLでは行列演算を大域的に最適化することで大幅に高速化できる見込みがある
			* **PythonもMATLABも，高速なネイティブコードを部品として呼び出すだけであり，大域的に最適化することはできない**
