.small
	markdown:
		## 将来課題
		* コンテキストスイッチに要する時間の計測
		* プリエンプティブ・マルチタスクに近い使い勝手にする
			* Zackernel: プログラミング言語処理系に手を入れて，プログラム中のループにフックを挿入する
			* LCB: 再帰呼び出しやEnumやFlow\cite{Flow}を用いたmap計算のようなまとまった処理を実行する際に，途中で他のタスクが起動可能かを判定するロジックを入れる
		* Zackernel のメモリリーク・保守性の課題
		* LCBのメモリ管理の課題
		* LCBにプロセス間通信の仕組みを実装
			* LCBを用いるようにPhoenixを改良
		* LCBをZackernel 並に1スレッドあたりのメモリ消費量を抑えるような言語処理系の設計・実装


