h3.center
	span.nonsplit Nodeプログラミングモデルを活用した
	span.nonsplit C++およびElixirの実行環境の実装
h4.center
  span.nonsplit
    span.heading 山崎 進 &nbsp;
  span.nonsplit
    span.heading 森 正和 &nbsp;
  span.nonsplit
    span.heading 上野 嘉大 &nbsp;
  span.nonsplit
    span.heading 高瀬 英希 &nbsp;
  img.heading30 src="resources/images/fukuokaex_logo_only_original.png"