.small
	markdown:
		## 成果の市場性，波及効果

		**AI/ML+IoTの社会的ニーズ**

		* 本研究により，**膨大な個数のIoT機器が接続されているクラウド上のウェブサーバーでAI技術によるデータ分析をリアルタイムで実施できる**ようになる
		* 幅広い分野の産業で革命的な変化を起こせるようになる

		**Elixir の市場性**

		* 当該市場規模は，世界的には2018年予測で191億ドルであり巨大である
		* 期待できる市場占有率は，当分は優位性が限定的であることと，デファクトスタンダードであるPythonが圧倒的であることから，当初は0.5～1%の占有に留まる見込みである
		* しかしそれでも，1～2億ドル程度の需要可能性は見込める
		* 2019年以降，ライブラリの整備が進むにつれて，Pythonを脅かすことができ，市場占有率も上昇していく見込みである

