.small
	markdown:
		### コールバック方式による解決
		* **Node.js**ではコールバックを用いて擬似的にマルチタスクにする機構がある
			* **Nodeプログラミングモデル**と呼ばれる
		* → 1セッションあたり数〜数百KB程度の消費で済む
		* **→ 同時セッション数が相当多くなっても耐えられるシステムを構築できる**
	img.image400 src="resources/images/Zackernel-2.jpg"
