.small
  markdown:
    ### 提案テーマの基礎となる保有技術
    ## 我々の研究開発能力

    * 我々はプログラミング言語処理系・OSに関する研究開発能力を有する
      * 研究代表者の修士論文・博士論文はプログラミング言語処理系の最適化に関する研究
      * 北九州市立大学にてプログラミング言語処理系とOSに関する授業科目を担当
      * 2018年にElixirに関連する研究会論文を3本採択済
        * うち1件は本研究に直接関連する
    * ソフトウェア工学に基づいて保守性の高いライブラリを構築できる能力を持つ
      * ソフトウェア工学に関する研究に従事
      * 北九州市立大学にてソフトウェア工学に関する授業科目を担当
      * 学生チームがプログラミングコンテストで数々の受賞
    * 経営学・マーケティングの知見と実戦経験に基づいて新規技術を普及させるだけの能力を持つ
      * デジタルメディアによるマーケティングを研究
      * 共同研究企業に対し，経営戦略上の助言も多く行ってきた実績がある
