.small
  markdown:
    ### 提案テーマの基礎となる保有技術
    ## fukuoka.ex と Qiita連載技術記事

  img.image400 src="resources/images/fukuokaex_logo_only_original.png"

  markdown:
    * 我々は福岡におけるElixirコミュニティ fukuoka.ex を主催している
      * 隔月開催のMeetUpでは，福岡におけるElixirプロダクション事例の紹介や，fukuoka.exアドバイザーズによるコア技術研究開発の実績報告を行う
      * 毎月開催のもくもく会では，各自，好きなテーマで，黙々とElixir／Phoenixプログラミングや，関連する調べ物をし，最後に成果発表を行う
    * fukuoka.ex 主催で Qiita にて73本/日に渡ってオリジナルの技術記事を連載した
      * 本研究の一環となる Elixir でのGPU駆動技術も含む
    * メディア取材を多く受けている
    * また，ここだけの話であるが，fukuoka.exのリーダーが福岡市長に技術アドバイスをしている