.small
	markdown:
		### 他の公募事業への申請状況

		研究構想の全体像に沿って新たに助成金を獲得しながらライブラリを研究開発していく

		* 2018年度申請分:
			* FAIS:  
			並列プログラミング言語Elixir(エリクサー)における数学/AI/ML基礎ライブラリの開発
			* 大川情報通信基金:  
			AI・IoT時代の並列処理プログラミング言語Elixir(エリクサー)の処理系ZEAMの開発
			* 環境技術研究所若手研究者支援プロジェクト(不採択)
			* 秋の科研費にも申請予定
		* 2019年度以降も続々助成金申請を行う
		* ゆくゆくは**福岡県全体を巻き込む大型プロジェクトに育て上げたい**
